@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tienda autitos</h1>
    <p> Encontra el mejor precio para tu auto, o autito, desde aviones hata escarabajitos, compre aqui</p>
</div>
