@{
    ViewData["Title"] = "Unidades";
}
<h1>@ViewData["Title"]</h1>
<p>

<ul class="list-group">
  <li class="list-group-item">Marca
  	<ul class="list-group">
  		<li class="list-group-item">Renault</li>
  		<li class="list-group-item">Chevrolet</li>
  		<li class="list-group-item">Nissan</li>
  	</ul>
  </li>
  <li class="list-group-item">Modelo
  	<ul class="list-group">
  		<li class="list-group-item">Kangoo</li>
  		<li class="list-group-item">Sandero</li>
  	</ul>
  </li>
  <li class="list-group-item">Año
  	<ul class="list-group">
  		<li class="list-group-item">2013</li>
  		<li class="list-group-item">2014</li>
  	</ul>
  </li>
  <li class="list-group-item">Kilometros
  	<ul class="list-group">
  		<li class="list-group-item">20.000</li>
  		<li class="list-group-item">30.000</li>
  	</ul>
  </li>
  <li class="list-group-item">Precio
  	<ul class="list-group">
  		<li class="list-group-item">1.000.000</li>
  		<li class="list-group-item">2.000.000</li>
  	</ul>
  </li>
</ul>
</p>
